body {
  font-family: "Roboto Slab", serif;
}

.page-main {
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
.header__logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  display: block;
  width: 137px;
  height: 28px;
  margin-top: 10px;
}
.header-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  font-family: "Open Sans", sans-serif;
}
.header-list__item {
  padding-bottom: 5px;
  margin-left: 15px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}
.header-list__item:hover {
  border-bottom: 3px solid #65e496;
}
.header-list__item.active {
  border-bottom: 3px solid #65e496;
}
.header-list__link {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
}

.block {
  display: flex;
  justify-content: space-between;
}
.block-cover1-demo {
  background-image: url(../img/book.png);
  display: block;
  width: 400px;
  height: 600px;
  background-repeat: no-repeat;
  float: left;
  margin: 100px 50px 2px 0;
  flex-basis: 500px;
}
.block-cover1-demo__book-name h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 100px;
  margin-bottom: 0;
}
.block-cover1-demo__book-name span {
  text-align: center;
  display: block;
  color: #65e496;
  color: rgb(22, 213, 22);
  letter-spacing: 0.9px;
  font-size: 14px;
  padding-bottom: 300px;
}
.block-cover1-demo__book-name small {
  display: block;
  color: rgb(22, 213, 22);
  padding-left: 90px;
  font-size: 12px;
}
.block-tetx1 {
  color: white;
  padding-top: 80px;
  padding-bottom: 230px;
  flex-basis: calc(100% - 500px);
}
.block-tetx1__name1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
}
.block-tetx1__title1 {
  font-size: 48px;
  letter-spacing: 0.7px;
  margin-bottom: 5px;
}
.block-tetx1 span {
  display: block;
  color: #65e496;
  color: rgb(22, 213, 22);
  margin-top: 5px;
  letter-spacing: 0.9px;
}
.block-tetx1__text1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-top: 19px;
}
.block-tetx1__text2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
}
.block-tetx1__btn1 {
  background-color: #78f382;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  padding: 14px 42px;
  margin-bottom: 15px;
  border: 1px solid #78f382;
}

.page {
  max-width: 1170px;
  margin: 0 auto;
}

.block-author {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.block-text {
  padding: 200px 0 300px 4px;
  flex-basis: calc(100% - 500px);
}
.block-text__name {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
}
.block-text span {
  display: block;
  color: #65e496;
  color: rgb(22, 213, 22);
  margin-top: 5px;
  letter-spacing: 0.9px;
}
.block-text__title {
  font-size: 48px;
  letter-spacing: 0.7px;
  margin-bottom: 5px;
}
.block-text__text1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-top: 19px;
}
.block-text__text2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
}
.block-text__btn {
  background-color: #78f382;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  padding: 14px 42px;
  margin-bottom: 15px;
  border: 1px solid #78f382;
}
.block-cover {
  position: relative;
  margin-top: 200px;
}
.block-cover__svg {
  position: absolute;
  z-index: -1;
  right: 0;
}
.block-cover__img {
  margin-top: 45px;
  margin-right: 45px;
}

.block-counter {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  padding-bottom: 110px;
}
.block-counter span {
  display: block;
  font-size: 70px;
  color: #65e496;
  color: rgb(50, 230, 206);
  margin-top: 5px;
  letter-spacing: 0.9px;
}
.block-counter p {
  font-size: 20px;
  text-align: center;
}

.page1 {
  background-color: aliceblue;
  height: 600px;
}

.wrap3 {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.wrap3__title {
  font-size: 50px;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 0;
}
.wrap3__subtitle {
  display: block;
  color: rgb(22, 213, 22);
  letter-spacing: 0.9px;
  text-align: center;
  margin-bottom: 50px;
}

.block-about {
  display: inline-block;
  padding-right: 40px;
}
.block-about__title {
  font-size: 30px;
  margin-bottom: 10px;
}
.block-about p {
  font-size: 16px;
}
.block-about__featured {
  font-size: 18px;
  font-weight: bold;
}
.block-about__featured i {
  letter-spacing: 8px;
}

.contents {
  float: right;
}
.contents ol {
  -moz-column-count: 2;
       column-count: 2;
  list-style: none;
}
.contents li {
  margin-right: 20px;
}
.contents li::before {
  content: attr(data-icon);
  font-size: 1.25em;
  margin-right: 7px;
}
.contents__title {
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 30px;
}
.contents__button {
  background-color: #76d17e;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  padding: 14px 42px;
  margin-top: 20px;
  margin-left: 40px;
  border: 1px solid #76d17e;
}/*# sourceMappingURL=style.css.map */